.row{
  padding: 0 !important;
  margin: 0 !important;
}
.top-nav{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.home{
  max-width: 100vw;
}
.home-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}
.face-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: 2px solid $primary-blue;
  border-radius: 50px;
  padding: 3px;
  transition: 0.3s;

  &:hover{
    transform: scale(1.1);
  }
}
.face-wrap img{
  width: 100%;
  image-rendering: auto;
}
.name-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0 0.6rem 0;
  color: var(--secondary-black);
}
.name-profession{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-light);
    margin-bottom: 1rem;
}
.social-media-icons-wrap a{
  &:hover{
    text-decoration: none ;
  }  
}
.social-media-icons-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-wrap{
  margin: 1rem 0;
}
.stats-number{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-grey);
}
.stats-text{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  max-width: 100px;
  color: var(--secondary-light);
}
.action-wrap a{
  &:hover{
    text-decoration: none;
  }
}
.action-wrap{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.action-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: var(--secondary-bright);
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 3rem;
}
.proj-gallery .col{
  display: flex;
  justify-content: center;
  max-width: 100vw;
  padding: 0;
  margin: 0 15px;
  margin-bottom: 30px;  
}
.proj-gallery img{
  display: block;
  max-width: 350px;
  min-width: 350px;
  min-height: 280px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);

  @include media-breakpoint-down(sm) { 
    max-width: 300px;
    min-width: 300px;
   }
}
.overlay-blue{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  height: 100%;
  width: 100%;
  max-width: 350px;
  transition: .5s ease;
  border-radius: 25px;
  background-color: rgba(0, 34, 65, 0.15);
  left: 50%;
  transform: translateX(-50%);

  &:hover{
    background-color: rgba(0, 34, 65, 0.75);
  }

  @include media-breakpoint-down(sm) { 
    max-width: 300px;
   }
}
.overlay-company{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: $additional-color;
}
.overlay-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: $additional-color;
  margin: 10px 0 20px 0;
}
.overlay-blue a{
  &:hover{
    text-decoration: none;
  }
}
.skills-wrap{
  display: none;
  margin-bottom: 10rem;
}
.skill{
  display: flex;
  padding: 10px 10px 10px 80px;

  @include media-breakpoint-down(md) { 
    padding: 10px 10px 10px 30px;
   }
}
.skills-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--secondary-black);
  text-align: center;
  margin-bottom: 2rem;
}
.skill-name{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-black);
}
.skill-level{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--secondary-light);
}
.modal-content{
  border: 1px solid $primary-blue;  
}
.modal-body, .modal-title{
  font-family: 'Roboto', sans-serif;
}
.modal-subtitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 10px 0;
}
.modal-img{
  @include media-breakpoint-down(md) { 
    display: flex;
    justify-content: center;
  }
}